* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #202d36;
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    background-color: #2b3743;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
}

.container-nav {
    color: white;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 900;
}

.container-body {
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.container-principal {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-by-country {
    height: 50px;
    background-color: #2b3743;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25px;
    width: auto;
    margin: 10px;
}

.filter-input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-weight: 300;
    font-size: 1.0rem;
    height: 100%;
    margin-left: 20px;
    color: white;
}

.filter-input:focus {
    outline: white !important;
    color: white;
}

.filter-input::placeholder {
    color: white;
}

.filter-by-region,.filter-by-region * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.filter-by-region {
  position: relative;
  background-color: #2b3743;
  border-radius: 4px;
  width: auto;
  height: 50px;
  display: flex;
  padding-left: 25px;  
  padding-right: 30px;
  margin: 10px;
  
}
.filter-by-region select {
  font-size: 1.0rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}

.filter-by-region select:active, .filter-by-region select:focus {
  outline: none;
  box-shadow: none;
}

.filter-by-region:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.select-region {
    background-color: #2b3743;
    border: none;
    color: white;
    font-weight: 300;
    font-size: 2.2vh;
}

.option-region {
    border: none;
    padding-right: 25px;
    color: white;
}

select {
    -webkit-appearance: none;
    background-position-x: auto;
}

.icon-filter-region {
    color: white;
    font-size: 20px;
}

.country-card {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    width: auto;
}

.card {
    width: 250px;
    height: 320px;
    background-color: #2b3743;
    border-radius: 5px;
    margin-right: 80px;
    -webkit-box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 28px -6px rgba(0, 0, 0, 0.75);
    margin : 1em;
    transition: width 1s, height 1s;

}
.card:hover{
    width: 270px;
    height: 350px;
    box-shadow: 0px 0px 3px grey;
}

.card-flag {
    height: 50%;
    width: 100%;
    background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

input:focus::placeholder {
    color: transparent;
  }

.country-information {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px ;    
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.title-country {
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    overflow: hidden;
    width: auto;
    line-height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}

.information {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.row-information {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    padding-bottom: 2px;
}

.information-container{
    padding: 0px 0px 35px 0px;
    width: 100%;
}


.information-value {
    color: hsl(0, 0%, 90%);
    padding-left: 5px ;
    font-weight: 600 !important;
    font-size: 1rem !important;
}